.resetPassword {
  text-align: center;
}
.resetPassword-form {
  margin: 20px;
}
.resetPassword-form-fields .mat-form-field {
  width: 90%;
}

.resetPassword-title {
  font-size: 1.2rem;
}

.resetPassword-loader {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
