<div class="resetPassword">
  <h3 class="resetPassword-title">
    Enter your email address to reset your password
  </h3>
  <form [hidden]="sendingEmail" class="resetPassword-form" (ngSubmit)="resetPassword()">
    <div class="resetPassword-form-fields">
      <mat-form-field>
        <input matInput placeholder="Login" [formControl]="emailFormControl" [(ngModel)]="user.email">
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" [color]="'primary'">Reset password</button>
  </form>
  <div class="resetPassword--loader" *ngIf="sendingEmail">
    <mat-spinner [diameter]="30" color="primary"></mat-spinner>
  </div>
  <div *ngIf="processingMessage" class="resetPassword-processedMessage">
    {{processingMessage}}
  </div>
</div>
