.challengeMediaAnswer img {
  max-width: 100%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.challengeMediaAnswer-loader {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.challengeMediaAnswer-content {
  position: relative;
  margin: 20px;
}

.challengeMediaAnswer-content-actions {
  position: relative;
}

.challengeMediaAnswer-content-actions a {
  position: absolute;
  left: 10px;
  top: 10px;
}

.challengeMediaAnswer-content-name {
  word-wrap: break-word;
}

::ng-deep .deleteAnswerChoice-content {
  background-color: #FFF;
}
