.applicationLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.applicationLoader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.applicationLoader-spinner {
  position: absolute;
  top: 30%;
  left: 50%;
}
.applicationLoader-spinner-centered {
  position: relative;
  top: -50%;
  left: -50%;
}