<app-menu (toggleMenu)="snav.toggle()"></app-menu>

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav>
    <mat-nav-list (click)="snav.close()">
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item *ngIf="isAuthenticated$" routerLink="/{{(currentTeam$ | async)?.uuid}}/calendar">Calendar</a>
      <a mat-list-item *ngIf="isAuthenticated$" (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-loading></app-loading>
    <div [hidden]="isAppLoading$ | async" class="appContent">
      <router-outlet></router-outlet>
      <app-current-user></app-current-user>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
