.calendarDay {
  width: 100px;
  height: 70px;
  margin: 5px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #c8102e;
  color: white;
  border-radius: 5%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.calendarDay-name {
  text-align: left;
  flex-grow: 1;
}

.calendarDay-status {
  text-align: right;
}
