<div class="challengeImageAnswer">
  <div class="challengeImageAnswer-loader" *ngIf="!hasImageLoaded()">
    <mat-spinner [diameter]="30" color="primary"></mat-spinner>
  </div>
  <div *ngIf="(getDownloadUrl() | async) !== null" class="challengeImageAnswer-content">
    <div class="challengeImageAnswer-content-image">
      <img [src]="getDownloadUrl() | async" (load)="imageLoaded()" />
    </div>
    <app-delete-answer [hidden]="!hasImageLoaded()" (delete)="confirmDelete()"></app-delete-answer>
  </div>
</div>
