.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}

.calendarDay-name {
  text-align: left;
}

.week {
  border-radius: 5%;
  width: 100px;
  height: 70px;
  margin: 5px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3f51b5;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.week-title {
  line-height: 1.2rem;
}

.week-status {
  text-align: right;
}
